<!-- Navbar Section -->
<%= partial 'partials/navbar' %>
<!-- Banner Section -->
<%= partial 'partials/banner' %>
<div class="container ">
  <!-- About Section -->
  <%= partial 'partials/about' %>
  <!-- Projects Section -->
  <%= partial 'partials/projects' %>
  <!-- Social Links Section -->
  <%= partial 'partials/social' %>
  <%# </div> %>
</div>
